---
import Layout from '../layouts/Layout.astro';
---

<Layout title="React Cache Investigation - Astro Version">
	<main>
		<h1>React Cache Investigation - Astro Version</h1>
		<p>Astro application for testing React caching behaviors.</p>
	</main>
</Layout>
